@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-width: 1078px;
  --slider-container-width: 500%;
  --text-color: #54595f;
  --text-black: #000;
}
.testimonials-sliders,
.testimonials-sliders * {
  user-select: none;
}
.testimonial-container {
  max-width: var(--container-width);
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  padding: 0px 20px;
  position: relative;
}

.testimonials {
  overflow-x: hidden;
  width: 100%;
}

.testimonials-sliders {
  display: flex;
  align-items: start;
  width: var(--slider-container-width);
  transition: transform 0.5s ease-in-out;
}

.testimonials-slide {
  width: calc(var(--slider-container-width) / 5);
  padding: 10px;
  display: flex;
  box-sizing: border-box;
}
.testimonials-slide-inner-box {
  width: 100%;
  height: 100%;
  font-size: 32px;
  display: flex;
  justify-content: start;
  align-items: start;
}

.testimonials-slide-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  align-items: start;
  min-width: calc(100% / 3) !important;
  transition: all 0.3s ease-in-out;
  padding: 10px;
}
.testimonials-single-slide-card {
  width: 100%;
  padding: 40px 20px;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 10px;
}
.testimonials-single-slide-card:hover {
  background-color: #99999950;
  transition: all 0.3s ease-in-out;
}
.next-and-prev-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 105%;
  display: flex;
  justify-content: space-between;
}
.next-and-prev-btn button {
  background-color: #9ba9b4;
  color: white;
  outline: none;
  border: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* content style */
.testimonial-top {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.testimonial-image-box {
  width: 70px;
  height: 70px;
}
.testimonial-image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.testimonial-name h2 {
  font-size: 20px;
}
.testimonial-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.testimonial-ratting {
  color: #ffb621;
}
.testimonial-description {
  font-size: 16px;
  color: #424242;
}
.testimonial-date p {
  font-size: 16px;
  color: #888;
}
.video-box {
  position: relative;
  display: inline-block;
  padding: 0 !important;
  border: none !important;
  border-radius: 10px;
}
.video-box video {
  padding: 0 !important;
  border: none !important;
  border-radius: 10px;
}
.video-box:hover {
  background-color: transparent;
}
/* Play Button */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.3s;
}

/* Hide button when video is playing */
.play-button.hidden {
  opacity: 0;
  pointer-events: none;
}

/* Video Style */
video {
  width: 100%;
  height: 100%;
  display: block;
}
/* content style */
.see_more_and_see_less_btn {
  border-bottom: 1px solid #424242;
  transition: all 0.3s ease-in-out;
}
.see_more_and_see_less_btn:hover {
  font-weight: 700;
  color: #000;
  border-bottom: 1px solid black;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 520px) {
  :root {
    --container-width: 1078px;
    --slider-container-width: 1500%;
    --text-color: #54595f;
    --text-black: #000;
  }
  .testimonials-slide-inner {
    width: 100%;
  }
  .testimonials-slide-inner-box {
    width: var(--slider-container-width) / 3;
    gap: 0;
    padding: 0;
  }
  .testimonials-slide {
    width: var(--slider-container-width) / 3;
    width: 100%;
    padding: 0;
  }
  .next-and-prev-btn {
    width: 95%;
  }
}
